<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Company Signup</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/frontier.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/signup.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/companySignUp.css" media="screen">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>

<!-- Buttons layout code here -->
<!-- Split segments into about 20 60 20 -->

<body>
<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>



    </div>
    <form action="/api/addCompany" method="post">
    <div class= "jobdesc">

            <div class = "paddingtext">
                <h3>Company Name:</h3>
            </div>

            <textarea type="text" id="company" name="CompanyName"></textarea> <br>

        <h3>Username:</h3>

            <input id="Username" type="text" name="username" class="nameBox">
        <h3>Password:</h3>
            <input id="Password" type="text" name="password" class="nameBox">

        <div class = "paddingtext">
                <h3>Description:</h3>
            </div>
            <textarea type="text" id="descbox" name="Description"></textarea> <br>

        <h3>How supportive are you with disabilities?</h3>


            <h4>Wheelchair access<input type="checkbox" name="checkboxes1"/>
                Braile on signs<input type="checkbox" name="checkboxes2"/>
                Tactile surfaces where crucial<input type ="checkbox" name="checkboxes3"/>
            </h4>

            <br>
            <h4>Quiet spaces<input type="checkbox" name="checkboxes4"/>
            Support and training<input type="checkbox" name="checkboxes5"/>
            </h4>

    </div>

    <div class="uploadAndSubmit">
        <div class="imageUpload">
            <label for="file-input">
                <img id = 'output' src="media/emptyProfile.png" class = "profilePictures">
            </label>
            <input id="file-input" type="file" name="picture" onchange="loadFile(event)"/>
            <h3>Click picture to upload!</h3>
        </div>
        <div class="buttonLinks">
            <button  name = "submit" type = "submit">Sign Up</button>
        </div>
    </div>
    </form>

</div>

<script type="text/javascript">
    function userSignUp(){
        /*
        var uname = document.getElementById("newUsername").value;
        var pword = document.getElementById("newPassword").value;

        this.username.push(uname);
        this.password.push(pword);
        console.log(this.username);
        console.log(this.password);
    */
        goJobs();

    }

    function companySignUp(){
        /*get data from html add to arraylist open newpage with usernamespecified*/
    }


    function login(){
        goJobs();

    }
    function clearContent(id){
        document.getElementById(id).value = '';
    }
    function addJob(){
        window.location = 'jobs';    // TODO change
    }

    function postJob(){

        var job = {
            title: document.getElementById('jobTitle').valueOf(),
            description: document.getElementById('jobDesc').valueOf(),
            email: document.getElementById('jobEmail').valueOf()
        };
        //jobs.push(job);
        window.location = 'companyProfile';
    }
    /* Submit and save data entered*/

    function goHome(){
        console.log('Go home.');
        window.location = '/home';
    }
    function goJobs(){
        window.location = '/jobs/'+document.getElementById("UsernameLink").innerText;
    }
    function goCompanies(){
        window.location = '/companies/'+document.getElementById("UsernameLink").innerText;
    }
    function goTraining(){
        window.location = '/training/'+document.getElementById("UsernameLink").innerText;
    }
    function goExperience(){
        window.location = '/experiences/'+document.getElementById("UsernameLink").innerText;
    }

    function goToProfile(elementid){
        //check username in db
        //username = document.getElementById(elementid).valueOf();
        //if user go to userPage
        if(document.getElementById("UsernameLink").textContent === "Not logged in") {
            alert("Please login to be able to access your profile");
        }else{
            window.location='/userProfile/'+document.getElementById("UsernameLink").innerText;
            //window.location='/companyProfile/'+document.getElementById("UsernameLink").innerText;
            //window.location ='/Profile/company/'+document.getElementById("UsernameLink").innerText;

        }



    }
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        console.log(output.src);
    };

</script>

</body>
</html>
