<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>c</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/companySignUp.css" media="screen">
    <script src="../app.js"></script>

</head>

<!-- Buttons layout code here -->
<!-- Split segments into about 20 60 20 -->

<body>
<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>



    </div>

    <div class= "jobdesc">
        <form>
            <div class = "paddingtext">
                <h3>Company Name:</h3>
            </div>
            <textarea type="text" id="company"></textarea> <br>
            <div class = "paddingtext">
                <h3>Description:</h3>
            </div>
            <textarea type="text" id="descbox"></textarea> <br>
        </form>
        <h3>How supportive are you with disabilities?</h3>
        <form>

            <h4>Wheelchair access<input type="checkbox" id="checkboxes1"/>
                Braile on signs<input type="checkbox" id="checkboxes2"/>
                Tactile surfaces where crucial<input type ="checkbox" id="checkboxes3"/>
            </h4>

            <br>
            <h4>Quiet spaces<input type="checkbox" id="checkboxes4"/>
            Support and training<input type="checkbox" id="checkboxes5"/>
            </h4>


        </form>
        <div class="buttonLinks">
            <button onclick="goJobs();" name = "submit" type = "button">Sign Up</button>
        </div>
    </div>

    <div class="uploadAndSubmit">
        <div class="buttonLinks">
            <br><br>
            <br><br>
            <br><br>
            <!-- Switching to image of users avatar
            <button name = "image" type = "button">Upload Image</button>
            -->
             <img src="../public/media/avatar.png" width="150" height="150"/>
        </div>
    </div>

</div>


</body>
</html>
