<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/experiences.css" media="screen">
</head>
<body>
<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button">Home</button>
        <br>
        <button name ="jobsButton" type = "button">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button">Companies</button>
        <br>
        <button name = "trainingButton" type = "button">Training</button>
        <br>
        <button name = "userButton" type = "button">User Experiences</button>
    </div>

    <div class = "experiences">
        <table>
            <tr>
                <img src="../public/media/Dylan.jpeg" class = "profilePictures">
                <textarea rows="12" cols="50">
                    (Example experience) I suffer from quite severe ADHD, due to my difficulty in maintaining attention
                    it was extremely hard for me to seek out and find jobs by myself. I  applied for my first accounting
                    job 2 years ago using Frontier. Since then I have travelled to Europe on several business trips and
                    now work at the company's Sydney branch where I now supervises the training of interns. Frontier
                    helped me a lot in connecting me with the company abd provided me with an amazing opportunity which
                    has helped me become who I am today
                </textarea>
            </tr>
            <tr>
                <h3>Dylan Jones</h3>
            </tr>
            <tr>
                <img src="../public/media/Melissa.jpeg" class = "profilePictures">
                <textarea rows="12" cols="50">
                    (Example experience) Before Frontier, I was heavily reliant on my parents for everything. They had
                    to work two jobs each just to provide for me and one of them also had to be in the house to make
                    sure I didn't injure myself. Thanks to Frontier, I have found a job that I love, at a company that
                    is perfectly equipped to help me with my disability. Now my parents have more time to do the things
                    they love and I'm able to help my family with a steady source of income. Frontier's been so important
                    in helping me find a company that suited me.
                </textarea>
            </tr>
            <tr>
                <h3>Melissa Turner</h3>
            </tr>
        </table>
    </div>
</div>

</body>
</html>