<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/frontier.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css" media="screen">
</head>
<body>
    <div class = "page">

        <div class = "container">
            <h1>The Frontier</h1>
            <h2>Connecting disability to the world!</h2>

        </div>

        <div class = "buttonLinks">
            <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
            <br>
            <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
            <br>
            <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
            <br>
            <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
            <br>
            <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>



        </div>

        <div class = "LoginSignUp">
            <!-- to add links to appropriate html pages for signup and login -->
            <button
                    onclick="document.getElementById('id1').style.display='block'"> Login</button>
            <br><br>
            <label><b>Do you have an account?</b></label>

            <button name ="companySignUpButton" type="button" onclick="goCompanySignup();">Company Sign Up</button>
            <br>
            <button name ="seekerSignUpButton" type="button" onclick="goUserSignup();">Job Seeker Sign Up</button>

        </div>

        <div class = "sliderHolder">
            <span id="slider1"></span>
            <span id="slider2"></span>
            <span id="slider3"></span>

            <div class = "imageHolder">
                <img src="/media/feelsgoos1.jpg"/>
                <img src="/media/doorwayopen.jpg"/>
                <img src="/media/inspo.jpg"/>
            </div>

            <div class = "buttonHolder">
                <a href ="#slider1" class="sliderChange"></a>
                <a href ="#slider2" class="sliderChange"></a>
                <a href ="#slider3" class="sliderChange"></a>
            </div>

        </div>
    </div>

    <!-- Modal Form -->
    <div id="id1" class="modalForm">

        <span onclick="document.getElementById('id1').style.display='none'"
              class="close" title="Close ModalForm" style="font-family: 'Comic Sans MS'">X </span>

        <!-- Content within the ModalForm -->
        <form class = "OpenModalForm" action="/api/login" method="post">
            <h3 class="popup">
                <br><br>
                <h2><label><b>     Username: </b></label></h2>
                <input style="font-size:22px;"  size="30" width="20" id= "uname" type="text" placeholder="Enter your Username" name = "username" required>
                <br><br><br>
                    <h2><label ><b>     Password:   </b></label></h2>
                <input style="font-size:22px;"  size="30"id="pword" type="text" placeholder="Enter your Password" name = "password" required>
                <br><br><br>
                   <h2> <label>Please Select one:</label><br></h2>
                <h3><label>  Company: </label><input size="50"type="checkbox" id="CompanyCheck" name="CompanyCheck"></h3>
                <h3><label>  Job Seeker:</label><input size="50"type="checkbox" id="SeekerCheck" name="SeekerCheck"></h3>
                <br>
                <!-- to input linkage html page for login -->
                <button type="submit" >Login</button>

            </h3>
    </div>



        </form>

    </div>





    <script type="text/javascript">
        function userSignUp(){
            /*
            var uname = document.getElementById("newUsername").value;
            var pword = document.getElementById("newPassword").value;

            this.username.push(uname);
            this.password.push(pword);
            console.log(this.username);
            console.log(this.password);
        */
            goJobs();

        }

        function companySignUp(){
        /*get data from html add to arraylist open newpage with usernamespecified*/
        }


        function login(){



                        goJobs();
           



        }


        function goJobs(){
            window.location = '/jobs/'+"Not logged in";
        }
        function goCompanies(){
            window.location = '/companies/'+"Not logged in";
        }
        function goTraining(){
            window.location = '/training/'+"Not logged in";
        }
        function goExperience(){
            window.location = '/experiences/'+"Not logged in";
        }
        function goUserSignup() {
            window.location = '/userSignup';
        }
        function goCompanySignup(){
            window.location = '/companySignup';
        }


    </script>
</body>
</html>