<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css" media="screen">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>



<div class="container-fluid">
    <div class="jumbotron">
        <div class="align">
            <h1><b>The Frontier</b></h1>
            <h2><b>Connecting disability to the world!</b></h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class = "buttonLinks">
                <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
                <br>
                <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
                <br>
                <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
                <br>
                <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
                <br>
                <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="JobPost">

                <label><h3>Job Title:</h3></label>
                <input onfocus="clearContent(this.id)" id="jobTitle" size="40" placeholder="Enter a Job Title here">
                <br>

                <label><h3>Job Description:</h3></label>

                <textarea onfocus="clearContent(this.id)" id="jobDesc" rows="4" cols="80" placeholder="Enter a description here!"></textarea>

                <br>
                <label><h3>Job response Email:</h3></label>
                <input onfocus="clearContent(this.id)" id="jobEmail" size="60" placeholder="Please enter an email for job applications to be sent to!">
                <br><br>
                <br><br>
                <button type="submit"  onclick="postJob();">Post Job!</button>

            </div>

        </div>

        <div class="col-sm-3">
            <div class="LoggedIn">
                <label><h3>Logged in as: </h3></label><label id="UsernameLink" onclick="goToProfile(this.id);"><h3><u>Username</u></h3></label>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function userSignUp(){
        /*
        var uname = document.getElementById("newUsername").value;
        var pword = document.getElementById("newPassword").value;

        this.username.push(uname);
        this.password.push(pword);
        console.log(this.username);
        console.log(this.password);
    */
        goJobs();

    }

    function companySignUp(){
        /*get data from html add to arraylist open newpage with usernamespecified*/
    }


    function login(){
        goJobs();

    }
    function clearContent(id){
        document.getElementById(id).value = '';
    }
    function addJob(){
        window.location = 'jobPost';    // TODO change
    }

    function postJob(){

        var job = {
            title: document.getElementById('jobTitle').valueOf(),
            description: document.getElementById('jobDesc').valueOf(),
            email: document.getElementById('jobEmail').valueOf()
        };
        //jobs.push(job);
        window.location = 'companyProfile';
    }
    /* Submit and save data entered*/

    function goHome(){
        console.log('Go home.');
        window.location = 'home';
    }
    function goJobs(){
        window.location = 'jobs';
    }
    function goCompanies(){
        window.location = 'companies';
    }
    function goTraining(){
        window.location = 'training';
    }
    function goExperience(){
        window.location = 'experiences';
    }
    function goUserSignup() {
        window.location = 'userSignup';
    }
    function goCompanySignup(){
        window.location = 'companySignup';
    }
    function goToProfile(elementid){
        //check username in db
        //username = document.getElementById(elementid).valueOf();
        //if user go to userPage
        if((Math.floor(Math.random() *2)+1) === 1){
            window.location='userProfile_test.html'
        }else{
            window.location ='companyProfile';
        }

        //if company go to companyPage
        //window.location='companyProfile';
    }
    function goToCompanyProfile(){
        window.location ='companyProfile';
    }

</script>

</body>
</html>