<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>b</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/jobs.css" media="screen">
    <script src="../app.js"></script>

</head>

<!-- Buttons layout code here -->
<!-- Split segments into about 20 60 20 -->

<body>
    <div class = "page">

        <div class = "container">
            <h1>The Frontier</h1>
            <h2>Connecting disability to the world!</h2>




        </div>


            <div class = "JobAdd">
                <br><br>
                <br><br>
                <br><br>
                <button onclick= "addJob();">Add Job</button>
            </div>

        <div class = "buttonLinks">
            <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
            <br>
            <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
            <br>
            <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
            <br>
            <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
            <br>
            <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>



        </div>

        <div class="JobNav">
            <label><h4>Jobs Posted:</h4></label>
            <nav>
                <ul>
                    <li><b>HR Assistant, Ernst and Young</b><br>Scanning and printing of documents and council approved plans <br><br> Apply</li>
                    <li><b>Librarian, Hampshire Council </b><br>Sorting of books, magazines and DVDs. Handling customer questions about location of books within the library <br><br> Apply</li>
                    <li><b>Sales attendant, Big W </b><br>Facing of shelves, replenishment of stock and customer service. <br><br> Apply</li>
                    <li><b>Data Entry, Tennis Australia</b><br>Entry of generic sports data, based on input and real life game-play. <br><br> Apply</li>
                    <li><b>Pick Packer, CardBoard Enthusiasts</b> <br>Pick items based on a checklist order, pick at your own rate, accuracy is important. <br><br> Apply</li>
                    <li>Full Time truck loader <br>Assist in preparing pallets for transportation. This involves wrapping them and ensuring the contents are stable.<br><br>Apply </li>


                </ul>
            </nav>
        </div>
        <div class="LoggedIn">
            <label><h4>Logged in as: </h4></label><label id="UsernameLink" onclick="goToProfile(this.id);"><h4><u>CardBoard Enthusiasts</u></h4></label>
        </div>
    </div>


</body>
</html>
