<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/jobs.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>


</head>

<!-- Buttons layout code here -->
<!-- Split segments into about 20 60 20 -->

<body>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="align">
            <h1><b>The Frontier</b></h1>
            <h2><b>Connecting disability to the world!</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class = "buttonLinks">
                <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
                <br>
                <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
                <br>
                <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
                <br>
                <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
                <br>
                <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>
            </div>
        </div>


        <div class="col-md-6">
            <div class="wrapper">
                <div class="tile" id="jobTile1" onclick="applyJob(this.id);">
                    <h3>HR Assistant, Ernst and Young</h3><h4>Scanning and printing of documents and council approved plans.</h4>
                </div>
                <div class="tile" id="jobTile2" onclick="applyJob(this.id);">
                    <h3>Librarian, Hampshire Council</h3><h4>Sorting of books, magazines and DVDs. Handling customer questions about location of books within the library.</h4>
                </div>
                <div class="tile" id="jobTile3" onclick="applyJob(this.id);">
                    <h3>Sales attendant, Big W</h3><h4>Facing of shelves, replenishment of stock and customer service.</h4>
                </div>
                <div class="tile" id="jobTile4" onclick="applyJob(this.id);">
                    <h3>Data Entry, Tennis Australia</h3><h4>Entry of generic sports data, based on input and real life game-play.</h4>
                </div>
                <div class="tile" id="jobTile5" onclick="applyJob(this.id);">
                    <h3>Pick Packer, CardBoard Enthusiasts</h3><h4>Pick items based on a checklist order, pick at your own rate, accuracy is important.</h4>
                </div>
                <div class="tile" id="jobTile6" onclick="applyJob(this.id);">
                    <h3>Full Time truck loader</h3><h4>Assist in preparing pallets for transportation. This involves wrapping them and ensuring the contents are stable.</h4>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <!-- <div class="LoggedIn"> -->
            <label><h3>Logged in as: </h3></label><label id="UsernameLink" onclick="goToProfile(this.id);"><h3><u>Username</u></h3></label>

            <br><br>

            <!-- Upload image -> needs to be fixed with button -->
            <input type='file' onchange="readURL(this);" />
            <img id="blah" src="#" alt="your image" />
            <!-- </div>  -->
        </div>
    </div>
</div>

<script type="text/javascript">
    function goJobAdd(){
        window.location = 'jobPost';
    }
    function userSignUp(){
        /*
        var uname = document.getElementById("newUsername").value;
        var pword = document.getElementById("newPassword").value;

        this.username.push(uname);
        this.password.push(pword);
        console.log(this.username);
        console.log(this.password);
    */
        goJobs();

    }
    function applyJob(id){
        if(document.getElementById(id).style.backgroundColor === '#e5e5e5'){
            alert("You have already applied for this job!!");
        }else{
            alert("Thank you for applying." +
                "Your details will be passed on!");
            document.getElementById(id).style.backgroundColor= '#e5e5e5';
        }

    }
    function companySignUp(){
        /*get data from html add to arraylist open newpage with usernamespecified*/
    }


    function login(){
        goJobs();

    }
    function clearContent(id){
        document.getElementById(id).value = '';
    }

    function addJob(){
        window.location = 'jobs';    // TODO change
    }

    function postJob(){

        var job = {
            title: document.getElementById('jobTitle').valueOf(),
            description: document.getElementById('jobDesc').valueOf(),
            email: document.getElementById('jobEmail').valueOf()
        };
        //jobs.push(job);
        window.location = 'companyProfile';
    }
    /* Submit and save data entered*/

    function goHome(){
        console.log('Go home.');
        window.location = 'home';
    }
    function goJobs(){
        window.location = 'jobs';
    }
    function goCompanies(){
        window.location = 'companies';
    }
    function goTraining(){
        window.location = 'training';
    }
    function goExperience(){
        window.location = 'experiences';
    }
    function goUserSignup() {
        window.location = 'userSignUp';
    }
    function goCompanySignup(){
        window.location = 'companySignUp';
    }
    function goToProfile(elementid){
        //check username in db
        //username = document.getElementById(elementid).valueOf();
        //if user go to userPage
        if((Math.floor(Math.random() *2)+1) === 1){
            window.location='userProfile_test.html'
        }else{
            window.location ='companyProfile';
        }

        //if company go to companyPage
        //window.location='companyProfile';
    }
    function goToCompanyProfile(){
        window.location ='companyProfile';
    }

</script>

</body>
</html>