<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiences</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/training.css" media="screen">
    <script src="../app.js"></script>
</head>
<body>
<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>
    </div>

    <div class = "image_learning">
        <img src="../public/media/learning.jpg"/>
    </div>

    <div class = "courseLinks">
        <h3>Online Courses Links:</h3>
        <table>
            <tr>
                <td>Chinese Language & Culture(hyperlinked) : </td>
                <td>Explore the history of China's language and culture</td>
            </tr>
            <tr>
                <td>Early Childhood Education(hyperlinked): </td>
                <td>Explore how children aged 0-5 develop and learn</td>
            </tr>
        </table>

    </div>

    <div class = "tutorialLinks">
        <h3>Online Tutorial Links:</h3>
        <table>
            <tr>
                <td>Intro to HTML(hyperlinked): </td>
                <td>Basic guide to starting to use HTML in website design</td>
            </tr>
            <tr>
                <td>Intro to Photography(hyperlinked): </td>
                <td>Starter's guide to taking the perfect photograph and editing it for every situation</td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>