<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiences</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/frontier.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/training.css" media="screen">
</head>
<body>
<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "logoutButton" type = "button" onclick="goHome();">Logout</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>
    </div>

    <div class = "image_learning">
        <img src="/media/learning.jpg"/>
    </div>

    <div class = "courseLinks">
        <h3>Online Courses Links:</h3>
        <table>
            <tr>
                <td><a href="https://www.seeklearning.com.au/providers/skillsoft/courses/marketing-essentials">Marketing Essentials</a></td>
            </tr>
            <tr>
                <td><a href="https://www.seeklearning.com.au/providers/skillsoft/courses/business-grammar-basics">Business Grammar Basics</a></td>
            </tr>
        </table>

    </div>

    <div class = "tutorialLinks">
        <h3>Online Tutorials:</h3>
        <h4>How to find work you love</h4>
        <iframe width="550" height="400"
                src="https://www.youtube.com/embed/jpe-LKn-4gM">
        </iframe>


    </div>
    <div class="LoggedIn">
        <h4><label>Logged in as:</label></h4><h4><label id="UsernameLink" onclick="goToProfile(this.id);"><u><%=user%></u></label></h4>
        <img src="/media/bigw.png" class = "profilePictures">
    </div>
</div>

<script type="text/javascript">
    function goHome(){
        console.log('Go home.');
        window.location = '/home';
    }
    function goJobs(){
        window.location = '/jobs/'+document.getElementById("UsernameLink").innerText;
    }
    function goCompanies(){
        window.location = '/companies/'+document.getElementById("UsernameLink").innerText;
    }
    function goTraining(){
        window.location = '/training/'+document.getElementById("UsernameLink").innerText;
    }
    function goExperience(){
        window.location = '/experiences/'+document.getElementById("UsernameLink").innerText;
    }

    function goToProfile(elementid){

        if(document.getElementById("UsernameLink").textContent === "Not logged in") {
            alert("Please login to be able to access your profile");
        }else{
            window.location='/Profile/'+document.getElementById("UsernameLink").innerText;


        }



    }


</script>

</body>
</html>