<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiences</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/training.css" media="screen">
</head>
<body>
<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>
    </div>

    <div class = "image_learning">
        <img src="media/learning.jpg"/>
    </div>

    <div class = "courseLinks">
        <h3>Online Courses Links:</h3>
        <table>
            <tr>
                <td><a href="https://www.seeklearning.com.au/providers/skillsoft/courses/marketing-essentials">Marketing Essentials</a></td>
            </tr>
            <tr>
                <td><a href="https://www.seeklearning.com.au/providers/skillsoft/courses/business-grammar-basics">Business Grammar Basics</a></td>
            </tr>
        </table>

    </div>

    <div class = "tutorialLinks">
        <h3>Online Tutorials:</h3>
        <h4>How to find work you love</h4>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/jpe-LKn-4gM">
        </iframe>


    </div>

</div>

<script type="text/javascript">
    function userSignUp(){
        /*
        var uname = document.getElementById("newUsername").value;
        var pword = document.getElementById("newPassword").value;

        this.username.push(uname);
        this.password.push(pword);
        console.log(this.username);
        console.log(this.password);
    */
        goJobs();

    }

    function companySignUp(){
        /*get data from html add to arraylist open newpage with usernamespecified*/
    }


    function login(){
        goJobs();

    }
    function clearContent(id){
        document.getElementById(id).value = '';
    }
    function addJob(){
        window.location = 'jobs';    // TODO change
    }

    function postJob(){

        var job = {
            title: document.getElementById('jobTitle').valueOf(),
            description: document.getElementById('jobDesc').valueOf(),
            email: document.getElementById('jobEmail').valueOf()
        };
        //jobs.push(job);
        window.location = 'companyProfile';
    }
    /* Submit and save data entered*/

    function goHome(){
        console.log('Go home.');
        window.location = 'home';
    }
    function goJobs(){
        window.location = 'jobs';
    }
    function goCompanies(){
        window.location = 'companies';
    }
    function goTraining(){
        window.location = 'training';
    }
    function goExperience(){
        window.location = 'experiences';
    }
    function goUserSignup() {
        window.location = 'userSignup';
    }
    function goCompanySignup(){
        window.location = 'companySignup';
    }
    function goToProfile(elementid){
        //check username in db
        //username = document.getElementById(elementid).valueOf();
        //if user go to userPage
        if((Math.floor(Math.random() *2)+1) === 1){
            window.location='userProfile'
        }else{
            window.location ='companyProfile';
        }

        //if company go to companyPage
        //window.location='companyProfile';
    }
    function goToCompanyProfile(){
        window.location ='companyProfile';
    }

</script>

</body>
</html>