<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user Profile</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css" media="screen">
    <script src="../app.js"></script>
</head>
<body>



<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>



    </div>

    <div class="JobNav">
        <label><h4>Jobs Applied For:</h4></label>
        <nav>
            <ul>
                <li><b>HR Assistant, Ernst and Young</b><br>Scanning and printing of documents and council approved plans <br><br> Apply</li>
                <li><b>Librarian, Hampshire Council </b><br>Sorting of books, magazines and DVDs. Handling customer questions about location of books within the library <br><br> Apply</li>
                <li><b>Sales attendant, Big W </b><br>Facing of shelves, replenishment of stock and customer service. <br><br> Apply</li>


            </ul>
        </nav>
    </div>

    <div class="User">
        <div class = "Details">
            <!--id to be used to get data from server-->
            <label id="UserFullName"><h3><u>John Schmuf</u></h3></label>
            <figure>
                <img src="../public/media/avatar.png" alt="Profile picture" width="70" height="70">
            </figure>
        </div>
        <div class="userInformation">

            <label><h4>Interests:</h4></label>
            <!--id to be used to get data from server-->
            <textarea readonly id="userInterests" rows="4" cols="50">
                I love cycling, and spending time with family.

            </textarea>
            <label><h4>Experiences:</h4></label>
            <!--id to be used to get data from server-->
            <textarea readonly id="userExperience" rows="4" cols="50">
                I have have some experience as a sales attendant at Big W.

            </textarea>

        </div>

    </div>
</div>





</body>
</html>