<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/profile.css" media="screen">
</head>
<body>



<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button">Home</button>
        <br>
        <button name ="jobsButton" type = "button">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button">Companies</button>
        <br>
        <button name = "trainingButton" type = "button">Training</button>
        <br>
        <button name = "userButton" type = "button">User Experiences</button>



    </div>
    <div class="JobNav">
        <label><h3>Jobs Applied For:</h3></label>
    <nav>
        <ul>

            <li>Job Title <br>Job Description <br><br> Apply</li>
            <li>Job Title <br>Job Description <br><br> Apply</li>
            <li>Job Title <br>Job Description <br><br> Apply</li>
            <li>Job Title <br>Job Description <br><br> Apply</li>
            <li>Job Title <br>Job Description <br><br> Apply</li>
            <li>Job Title <br>Job Description <br><br> Apply</li>
            <li>Job Title <br>Job Description <br><br> Apply</li>


        </ul>
    </nav>
    </div>
</div>





</body>
</html>