<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/frontier.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/tiles.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css" media="screen">
    <!--<script src="../app.js"></script>-->
</head>
<body>



<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>



    </div>


    <div class="wrapper">
        <div class="tile" id="userJobTile1" onclick="applyJob(this.id);">
            <h3>HR Assistant, Ernst and Young</h3><h4>Scanning and printing of documents and council approved plans.</h4>
        </div>
        <div class="tile" id="userJobTile2" onclick="applyJob(this.id);">
            <h3>Librarian, Hampshire Council</h3><h4>Sorting of books, magazines and DVDs. Handling customer questions about location of books within the library</h4>
        </div>
        <div class="tile" id="userJobTile3" onclick="applyJob(this.id);">
            <h3>Sales attendant, Big W</h3><h4>Facing of shelves, replenishment of stock and customer service. </h4>
        </div>
    </div>
    <div class="User">
        <div class = "Details">
            <!--id to be used to get data from server-->
            <h3><label id="UserFullName"><%= user.name %></label></h3>
            <figure>
                <img src="../media/John.jpeg" alt="Profile picture" class = "profilePictures">
            </figure>
        </div>
        <div class="userInformation">

            <h4><label>Interests:</label></h4>
            <!--id to be used to get data from server-->
            <textarea readonly id="userInterests" rows="4" cols="50">
                <%= user.interests %>

            </textarea>
            <h4><label>Experiences:</label></h4>
            <!--id to be used to get data from server-->
            <textarea readonly id="userExperience" rows="4" cols="50">
                <%= user.experiences %>

            </textarea>

        </div>

    </div>
</div>
<script type="text/javascript">
    function userSignUp(){
        /*
        var uname = document.getElementById("newUsername").value;
        var pword = document.getElementById("newPassword").value;

        this.username.push(uname);
        this.password.push(pword);
        console.log(this.username);
        console.log(this.password);
    */
        goJobs();

    }

    function companySignUp(){
        /*get data from html add to arraylist open newpage with usernamespecified*/
    }


    function login(){
        goJobs();

    }
    function clearContent(id){
        document.getElementById(id).value = '';
    }
    function addJob(){
        window.location = 'jobs';    // TODO change
    }

    function postJob(){

        var job = {
            title: document.getElementById('jobTitle').valueOf(),
            description: document.getElementById('jobDesc').valueOf(),
            email: document.getElementById('jobEmail').valueOf()
        };
        //jobs.push(job);
        window.location = 'companyProfile';
    }
    /* Submit and save data entered*/

    function goHome(){
        console.log('Go home.');
        window.location = 'home';
    }
    function goJobs(){
        window.location = 'jobs';
    }
    function goCompanies(){
        window.location = 'companies';
    }
    function goTraining(){
        window.location = 'training';
    }
    function goExperience(){
        window.location = 'experiences';
    }
    function goUserSignup() {
        window.location = 'userSignup';
    }
    function goCompanySignup(){
        window.location = 'companySignup';
    }
    function goToProfile(elementid){
        //check username in db
        //username = document.getElementById(elementid).valueOf();
        //if user go to userPage
        if((Math.floor(Math.random() *2)+1) === 1){
            window.location='userProfile'
        }else{
            window.location ='companyProfile';
        }

        //if company go to companyPage
        //window.location='companyProfile';
    }
    function goToCompanyProfile(){
        window.location ='companyProfile';
    }

</script>




</body>
</html>