.page{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 25% repeat(2,1fr);

    min-width: 400px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

/*.wrapper{*/
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 2fr);*/
    /*grid-gap: 10px;*/

    /*grid-auto-rows: 270px;*/
/*}*/

.addjob {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.username {

    grid-column: 3/4;
    grid-row: 2/3;
}