.page:after {
    content : "";
    display: block;
    position: absolute;
    top: 1.5cm;
    left: 0;
    background-image: url("../media/workwithme.jpg");
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.page{
    display:grid;
    grid-template-columns:25% 50% 25%;
    grid-template-rows: 25% 10% 65%;
}

.LoginSignUp{
    grid-row: 2/4;
    grid-column: 3/4;
    padding-left: 20%;
}

.sliderHolder{
    grid-column: 2/3;
    grid-row: 2/4;
    width: 750px;
    height: 450px;
    clear: both;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    text-align: left;
    border: #B7AFA3;
}

.imageHolder{
    width : 2500px;
    height: 450px;
    background-color: lightblue;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
    position: relative;
}

.buttonHolder{
    position: relative;
    top:-20px;
}

.slider-image{
    float:left;
    position: relative;
    margin: 0px;
    padding: 0px;
}

#slider1:target ~ .imageHolder{
    left: 0px;
}

#slider2:target ~ .imageHolder{
    left: -800px;
}

#slider3:target ~ .imageHolder{
    left: -1610px;
}

.sliderChange{
    display: inline-grid;
    width:20px;
    height:20px;

    border-radius: 20px;
    background-color: deeppink;
}

.modalForm {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 40%;
    top: 40%;
    width: 20%; /* Full width */
    height: 50%;  /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fcf3e7;
    border-radius: 12px;
    border-color: #B7AFA3;
    border-width: 2px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fcf3e7;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;

    width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.popup{
    padding:10px;
}

.close {
    content: 'X';
    color: black;
    float: right;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;

}
.close:hover{
    background-color: crimson;
}

.label{
    left: 20%;
    -webkit-align-items: center;
    align-items: center;
    text-align: right;
    padding-left: 50px;
    margin: 10px ;
}
.input{
    position: center;
    text-align: center;
    padding-left: 20px;
    font-size: 50px;
}