.page {
    display: grid;
    grid-template-columns: 20% repeat(2,1fr);
    grid-template-rows: 25% repeat(3,1fr);

}

.User{
    grid-row:2/5;
    grid-column: 3/4;
    text-align: left;
}

.wrapper{
    grid-column: 2/3;
    grid-row: 2/5;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    grid-auto-rows: 270px;
}

.User{
    grid-column: 3/4;
    grid-row: 2/3;
}

.Company{
    grid-column: 3/4;
    grid-row: 2/3;
}

.userInformation{
    grid-column: 3/4;
    grid-row:3/4;
    padding:5px;
    margin: 0px;
    position: relative;
}

.companyInformation{
    grid-column: 3/4;
    grid-row:3/4;
    padding:5px;
    margin: 0px;
    position: relative;
}

.JobPost{
    grid-column: 2/4;
    grid-row: 2/4;
    text-align: left;
}

.LoggedIn{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: left;
}
