.page{
    display:grid;
    grid-template-columns:25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    min-width: 600px;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

.courseLinks {
    background-color: antiquewhite;
    border: 5px solid #B7AFA3;
    width: 20em;
}

.tutorialLinks {
    background-color: antiquewhite;
    border: 5px solid #B7AFA3;
    width: 36em;
}