.page{
    display:grid;
    grid-template-columns:25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    min-width: 600px;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

.userInfo {

    grid-column: 2/3;
    grid-row: 2/4;
    color: black;
    overflow: auto;
    position: relative;
}

#firstName {
    display: inline-block;
    font-size:12pt;
    width: 150px;
    padding-right: 4em;
}

#lastName {
    display: inline-block;
    font-size:12pt;
    width: 150px;
    padding-right: 4em;
}

.nameBox {
    font-size:12pt;
    width: 200px;
    height: 30px;
    align-content: right;
    bottom: 20px;
    padding-right: 4em;
}

.emailBox {
    font-size:12pt;
    width: 400px;
    height: 30px;
    align-content: right;
    bottom: 20px;
    padding-right: 4em;
}

.descBox {
    font-size:12pt;
    width: 400px;
    height: 150px;
    align-content: right;
    bottom: 20px;
}